# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# PyCharm / Vscode
.idea/
.vscode/

# Databricks
variables.yml
**.databricks/

# Parquet
*.parquet

# Terraform
terraform.tfvars

# Data folder for output
local/data/*

# Mac
.DS_Store

# Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-code files
*.pyc
__pycache__/